*.exe
*.prob
*.sh
*.sh~
a
codeforces/.vscode/settings.json
/atcoder/.vscode
atcoder/.vscode/c_cpp_properties.json

.competitist.lua
in
out1
out2

# LSP hack for bits/stdc++.h
include/
lib/precompiled/stdc++.h
lib/precompiled/stdc++.h.gch
.clangd
